<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Экспорт</title>
    <link rel="stylesheet" href="styles/export.css">
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>
<body>

<header class="header">
    <div class="title" style="background-image: url(images/logo.png);">
    </div>
    <div class="log_out">
        <a class="tag tag_out" href="/login">Выйти</a>
    </div>
    <div class="log_search">
        <a class="tag tag_back" id="back" th:href="@{/search(token=${token})}">Назад</a>
    </div>
</header>

<div class="container">
    <form class="form">
        <table class="table">
            <thead class="tbl-header">
            <tr>
                <th class="first_column">Номер декларации</th>
                <th>Дата декларации</th>
                <th>Номер договора</th>
                <th>Дата договора</th>
                <th class="last_column">Наименование фирмы</th>
            </tr>
            </thead>
            <tbody class="tbl-content-declaration">
            <tr>
                <td class="first_column" th:text="${declaration.getNumber()}"/>
                <td th:text="${declaration.getDate()}"/>
                <td th:text="${declaration.getContractNumber()}"/>
                <td th:text="${declaration.getContractDate()}"/>
                <td th:text="${declaration.getFirmName()}"/>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="name_export">Сведения об экспортных операциях по номеру декларации №<b style="font-weight: 500;"
                                                                                   th:text="${number}"></b></div>

<div class="main_container">
    <form class="form">
        <div class="scroll-bar">
            <table class="table" id="table">
                <thead class="tbl-header">
                <tr class="sorted_rows">
                    <th onclick="sortTable(0)" class="first_column">Наименование товара<b class="b">&#8645;</b>
                        <div class="line" id="0"></div>
                    </th>
                    <th onclick="sortTable(1)">Тнвед<b class="b">&#8645;</b>
                        <div class="line" id="1"></div>
                    </th>
                    <th onclick="sortTable(2)">Серия ттн<b class="b">&#8645;</b>
                        <div class="line" id="2"></div>
                    </th>
                    <th onclick="sortTable(3)">Номер ттн<b class="b">&#8645;</b>
                        <div class="line" id="3"></div>
                    </th>
                    <th onclick="sortTable(4)">Дата ттн<b class="b">&#8645;</b>
                        <div class="line" id="4"></div>
                    </th>
                    <th onclick="sortTableNumbers(5)">Вес товара (кг)<b class="b">&#8645;</b>
                        <div class="line" id="5"></div>
                    </th>
                    <th onclick="sortTableNumbers(6)">Стоимость товара (BYN)<b class="b">&#8645;</b>
                        <div class="line" id="6"></div>
                    </th>
                    <th onclick="sortTableNumbers(7)">Количество<b class="b">&#8645;</b>
                        <div class="line" id="7"></div>
                    </th>
                    <th onclick="sortTable(8)">Еденица измерения<b class="b">&#8645;</b>
                        <div class="line" id="8"></div>
                    </th>
                    <!--               <th id="9" onclick="sortTable(9)">Дата и время<b class="b">&#8645;</b></th>-->
                    <!--                    <th id="10" onclick="sortTable(10)" class="last_column">Фио<b class="b">&#8645;</b></th>-->
                </tr>
                </thead>


                <tbody class="tbl-content">
                <tr th:each="export : ${exports}">
                    <td class="first_column" th:text="${export.getProductName()}"/>
                    <td th:text="${export.getTnved()}"/>
                    <td th:text="${export.getTtnSeries()}"/>
                    <td th:text="${export.getTtnNumber()}"/>
                    <td th:text="${export.getTtnDate()}"/>
                    <td th:text="${export.getProductWeight()}"/>
                    <td th:text="${export.getProductSum()}"/>
                    <td th:text="${export.getProductCount()}"/>
                    <td th:text="${export.getUnit()}"/>
                    <!--                    <td th:text="${export.getDateTime()}"/>-->
                    <!--                    <td th:text="${export.getFio()}"/>-->
                </tr>
                </tbody>

            </table>
        </div>
    </form>
</div>

<footer class="footer">
    <div class="author">Дизайн и разработка сайта: Лукьянччик Виктор tg: @vicitor_luk</div>
    <div class="organization"><a href="https://bsz.by/">Филиал ЗАО "Атлант"-БСЗ</a></div>
</footer>

<script type="text/javascript" th:src="@{/js/tableSorter.js}">
</script>
</body>
</html>
