body{
    background: linear-gradient(135deg, #242e4d, #25386c);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', helvetica, arial, sans-serif;
}

.log_out{
    position: absolute;
    right: 10%;
}

.title {
    height: 30px;
    width: 180px;
    margin-left: 95px;
    padding-bottom: 10px;
    background-image: url(/images/logo.png);
    -webkit-background-size: cover;
    float: left;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 255, .2);
}

.header{
    background-color: rgba(255,255,255,0.1);
    height: 50px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.tag {
    border-radius: 3px 0 0 3px;
    color: #e5e3e3;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 10px 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag:hover {
    color: white;
}

.tag_out:hover{
    color:#ffdede;
}

.container{
    padding: 8px;
}


.search{
    text-align: center;
    margin-top: 15em;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus-within {
        .form__label {
            padding-bottom:5em;
            z-index: 8;
            color: #fff;
        }
    }
}

.form__label {
    transition: all 0.3s;
    z-index: -5;
    color: transparent;
    margin-right: 22.9em;
    position:absolute;
    user-select: none;
}

input[type=text] {
    padding: .4em;
    font-size: 1em;
    padding-left: 1em;
    border: 2px solid #cccccc;
    width: 30em;

    &:focus {
        outline: none;
        outline: 1px solid #35c3c1;
        border: 1px solid #35c3c1;
        border-right: 2px solid #35c3c1;
    }

    &:focus::placeholder {
        color: transparent;
    }
}

.lf--submit {
    padding: 0.54em 1.4em;
    background: linear-gradient(
    to right, #35c3c1, #00d6b7);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    text-shadow: 0 1px 0 #67636a;
    transition: .5s;

    &:focus {
        outline: none;
        transition: transform .15s ease;
        transform: scale(1.1);
    }
}

.lf--submit:hover {
    background: linear-gradient(
    to left, #39d3d1, #00e8c8);
}


.error-message {
    margin-bottom: 15px;
    color: #b60000;
    font-size: .9em;
    position: absolute;
    cursor: default;
}

.error-message:hover{
    text-shadow: 0 .2px 0 #67636a;
}

.error_page {
    height: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5em;

}

.error{
    width: 35.2em;
}