body{
    background: linear-gradient(135deg, #242e4d, #25386c);
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    height: 100vh;
    display:grid;
    margin: 0;
    font-family: Verdana, sans-serif;
}

.log_out{
    position: absolute;
    right: 4%;
    user-select:none;
    -ms-user-select:none;
}

.title {
    height: 30px;
    width: 180px;
    margin-left: 95px;
    padding-bottom: 10px;
    background-image: url(/images/logo.png);
    background-size: cover;
    float: left;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 255, .2);
}

.header{
    background-color: #3b476a;
    height: 50px;
    margin-bottom: 10px;
    padding-top: 10px;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.tag {
    border-radius: 3px 0 0 3px;
    color: #e5e3e3;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 10px 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag:hover .path_out{
    fill: #ffdede;
}

.tag:hover {
    color: white;
}

.tag_out:hover{
    color:#ffdede;

}

.svg_log_out{
    position: absolute;
    width: 20px;
    height: 20px;
    padding:2.5px;
}

.container{
    padding: 8px;
}


.search{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search:focus-within .form__label{
    padding-bottom:5em;
    z-index: 8;
    color: #fff;
}

form{
    margin-bottom: 55vh;
    margin-top: 32vh;
}

.form__label {
    transition: all 0.3s;
    z-index: -5;
    color: transparent;
    margin-right: 22.9em;
    position:absolute;
    -ms-user-select: none;
    user-select: none;
}

input[type=text] {
    padding: .4em;
    font-size: 1em;
    padding-left: 1em;
    border: 2px solid #cccccc;
    width: 30em;
    font-family: Verdana, sans-serif;
}

input[type=text]:focus{
    outline: none;
    outline: 1px solid #35c3c1;
    border: 1px solid #35c3c1;
    border-right: 2px solid #35c3c1;
}

input[type=text]:focus::placeholder {
    color: transparent;
}

.lf--submit {
    padding: 0.54em 1.4em;
    background: linear-gradient(
    to right, #35c3c1, #00d6b7);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    text-shadow: 0 1px 0 #67636a;
    transition: .5s;
    font-family: Verdana, sans-serif;
}

.lf--submit:focus {
    outline: none;
    transition: transform .15s ease;
    transform: scale(1.1);
}

.lf--submit:hover {
    background: linear-gradient(
    to left, #39d3d1, #00e8c8);
}


.error-message {
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 15px;
    color: #b60000;
    font-size: .9em;
    cursor: default;
    word-break: break-all;
}

.error-message:hover{
    text-shadow: 0 .2px 0 #67636a;
}


.error{
    width: 38em;
    margin: 1em auto;
}

/*==================FOOTER===========================*/
.footer {
    position: absolute;
    background: #1f2b4e;
    height: 20px;
    padding: 20px 80px;
    display: flex;
    font-size: 12px;
    align-items: center;
    left:0;
    right:0;
    bottom:0;
}

.organization{
    margin-left: auto;
}

.organization a{
    text-decoration: none;
    color: #eaeaea;
    transition: .3s;
}

.organization a:hover{
    color: #fff;
    text-shadow: 0px 0px 3px rgba(255,255,255,0.2);
}

.author{
    color: #1f2b4e;
    text-shadow: 0px -0.5px 0px rgb(31 43 78),
    0px 1px 1px rgb(255 255 255 / 5%);
    user-select: none;
    -ms-user-select: none;
}
